@{
    ViewBag.Title = "Contact";
}

<img src="https://static.wirtualnemedia.pl/media/top/lot-logo.png" />
<br />
<address>
    Polskie Linie Lotnicze LOT S.A.<br />
    ul. Komitetu Obrony Robotników 43<br />
    02-146 Warszawa<br />
    <abbr title="Phone">P:</abbr>
    22 577 99 52
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@lot.com.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@lot.com.pl</a>
</address>