@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="http://www.staralliance.com/documents/20184/665264/Hero_lot_polish.jpg/e2f73235-84e7-4f38-b40a-282d0da12dc0?t=1440805910000" width="90%" height=90%"/>
</div>